html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

body {
    background: black;
}

#mainCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
}